main {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik';
}

main h3 {
    font-size: 36px;
    margin-top: .5em;
    color: #1C1B33;
}

#blog-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 25%;
}

#blog-container a {
    text-decoration: none;
}

#blog-container img {
    aspect-ratio: 4/3;
    width:100%;
    object-fit: cover;
}

.blog-post {
    border: 1px solid red;
    margin:2em;
}

.blog-author {
    color: #8c8c8c;
}

.blog-content {
    color: #1C1B33;
}

#blog-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.blog-post {
    width: calc(33.33% - 4em); /* O ajusta este valor según tus necesidades */
    border: 1px solid red;
    margin: 1em;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .blog-post {
        width: calc(50% - 4em); /* 2 cards por fila en pantallas medianas */
    }
}

@media (max-width: 480px) {
    .blog-post {
        width: calc(100% - 4em); /* 1 card por fila en pantallas pequeñas */
    }
}