@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* Variables CSS */
:root {
    --primary-color: #007bff;
    --secondary-color: #0056b3;
    --background-color: #010213;
    --text-color: #f2f2f2;
    --text-secondary-color: #b9b9b9;
    --font-family: 'Arial', sans-serif;
    --padding: 2rem;
    --padding-small: 1rem;
    --border-radius: 10px;
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease-in-out;
    --animation-duration: 1s;
    --title-font-size: 3rem;
    --title-font-size-small: 1.5rem;
    --description-font-size: 1.5rem;
    --description-font-size-small: 1rem;
    --button-padding: 1rem 2rem;
    --button-font-size: 1.25rem;
    --button-font-size-small: 1rem;
    --max-width: 1200px;
}

body {
	margin:0;
	background:#15151e;
	overflow-x:hidden;
}

.about-me {
    margin: 0 auto;
    max-width: 1200px;
}

.about-me h2 {
    padding: 0 var(--padding);
    font-size:3vw;
}

.races {
	width:fit-content;
	display:flex;
	flex-wrap:nowrap;
}

.races h2 {
	font-family: 'Staatliches', cursive;
	font-size:30vw;
	flex-shrink:0;
	padding-right:0.3em;
	padding-left:0.3em;
	color:#e10600;
	
	margin:0;	
}

.races h2:last-of-type {
	background:#e1e1ff;
}

.lightBG {
	background:#313143;
}

.space-20vh {
	height:20vh;
}

.space-30vh {
	height:30vh;
}

.space-50vh {
	height:50vh;
}

.space-100vh {
	height:100vh;
}

.about-content {
    display: flex;
    align-items: center;
    padding: var(--padding);
}

.about-content .mask-img {
    mask-image: linear-gradient(to top, black 5%, transparent 98%);
}

.about-content p {
    color: var(--text-secondary-color);
    margin-left: 20px;
    font-size: 1.1rem;
    line-height: 1.3;
}

.about-content-card {
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}

.about-content-card .card {
    display: flex;
    align-items: center;
    padding: 15px;
}

.fercho {
    border-radius: 15px;
}

@media (max-width: 768px) {
    .races {
        display: flex;
        flex-direction: column;
    }

    .about-content {
        padding: 10px;
        flex-direction: column;
        width: 100%;
    }

    .about-content p {
        font-size: 1rem;
    }
    
    .fercho {
        width: 50%;
        margin-bottom: 20px;
    }

    .card {
        flex-direction: column;
    }

    .card p {
        padding: 20px;
    }

    .races .about-content img {
        margin: 0 auto;
    }

    .padding-top {
        padding-top: 10px;
    }

    .none-sm {
        display: none;
    }
 }