:root {
    --primary-color: #02FF67;
    --secondy-color: #ddd9d9;
    --third-color: #1C1B33;
    --fourth-color: #070707;
}

.about-us {
    background-image: radial-gradient(circle farthest-corner at 100% 0,#acffac 28%,#5cf8bc 51%,var(--primary-color) 87%,var(--primary-color) 96%);
    animation: intro-gradient 3s infinite ease;
    background-size: 200% 200%;
    padding: 50px;
}

.about-us h2 {
    padding: .5em 0;
    font-size: 5em;
    color: var(--fourth-color);
}

.about-us p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--fourth-color);
    font-family: 'Rubik';
    line-height: 1.6;
    margin: 10px 0;
}

@keyframes intro-gradient {
    0% {
        background-position: 0% 1%;
    }
    
    50% {
        background-position: 100% 97%;
    }
    100% {
        background-position: 0% 4%;
    }
}