@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #02FF67;
    --secondy-color: #ececec;
    --third-color: #1C1B33;
    --fourth-color: #010213;
}

body {
    background-image: linear-gradient(to right top, #191922, #171821, #151720, #13151e, #11141d, #161b23, #1b2128, #20282e, #30393d, #414a4c, #545c5c, #686e6d);
}

h2 {
    color: var(--primary-color);
    font-family: 'Rubik';
    text-transform: uppercase;
}