@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #02FF67;
    --secondy-color: #ececec;
    --third-color: #1C1B33;
    --fourth-color: #010213;
}

html {
    scroll-behavior: smooth;
}

h2 {
    color: var(--primary-color);
    font-family: 'Rubik';
    text-transform: uppercase;
}